.App {
  
}
.link {
  text-decoration: none;
  color: hsla(0, 0%, 100%, 0.55);
}

.link:hover {
  color: hsla(0, 0%, 100%, 0.75);
}

.dropdown {
  color: #212529;
  text-decoration: none;
}

.dropdown-item:hover {
  color: #1e2125;
  background-color: #e9ecef;
}

.dropdown-item:active {
  color: #fff;
  background-color: #096efd;
}